

.event-wrapper{
    width: 77%;
    margin-right: 1%;
}



@media only screen and (max-width:712px){
    .event-wrapper{
      width: 100%;
      margin-right: 0;
    }
}


.pagination {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    cursor: pointer;
    margin-top: 45px;
    height: 100px;
    padding-left: 21px;
  }
  
  .pagination li{
    margin-right: 10px;
  }
  .pagination a {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #fa7328;
    color: #fa7328;
  }
  
  .pagination__link {
    font-weight: bold;
  }
  
  .pagination__link--active a {
    color: #fff;
    background: #fa7328;
  }
  
  .pagination__link--disabled a {
    color: rgb(198, 197, 202);
    border: 1px solid rgb(198, 197, 202);
  }
  